<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocketlauncher.app">

    <application
        android:label="Rocket Launcher"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

    </application>

</manifest>
